h2 {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    background: rgb(197, 197, 197);
    padding: 40px 10px 10px;
  }

  .title {
    text-align: center;
    margin-bottom: 0px;
  }

  .services-container {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .description {
    padding: 0px 10px 0px 10px;
  }
}
