.container {
  background-color: antiquewhite;
}

.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}

.nav-bar > h1 {
  color: white;
}

.nav-bar > h2 {
  color: white;
}

.logo {
  padding: 10px;
  margin: auto;
  flex-grow: 1;
}

.nav-item {
  margin: auto;
  padding-right: 20px;
}
