.container {
  width: 100%;
  margin: 0px;
  background: rgb(130, 207, 15);
  padding: 40px 10px 10px 10px;

  /* -webkit-clip-path: polygon(0 0%, 100% 0, 100% 95%, 0% 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 95%, 0% 100%); */
  top: 0px;
}
.title {
  text-align: center;
}

.image {
  height: 100vh;
}

.shredded-image {
  height: 200px;
}

.bullet-title {
  color: black;
  font-weight: bolder;
}

@media screen and (min-width: 720px) {
  .container {
    min-height: 800px;
  }

  .text-container {
    width: 40%;
    padding: 40px;
    margin: auto;
  }
  .divider {
    width: 60%;
  }
}
