.container {
  padding: 40px 10px 0px 10px;
  background: rgb(224, 224, 224);
}

.title {
  text-align: center;
}

.info-title {
  font-weight: 900;
}

.button {
  width: 100%;
  padding: 5px;
  border-radius: 0.25rem;
  border-color: black;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.button:hover {
  background-color: white;
  color: black;
}

.button:active {
  background-color: white;
  color: black;
}

.input:focus {
  box-shadow: 0 0 0 2px rgb(130, 207, 15);
}

.map-container {
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  .container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .map-container {
    margin: auto;
    margin-bottom: 50px;
    max-width: 1000px;
  }

  .form-container {
    display: flex;
    width: 1000px;
    margin: auto;
  }

  .form-heading {
    width: 300px;
    flex-grow: 1;
    margin-left: 50px;
    margin-top: 10px;
  }
  .form {
    width: 500px;
    margin-right: 50px;
  }
}
